### connection

orchf_ip: 127.0.0.1
orchf_port: 7777


#### orchm
port: 5555
procNum : 2
gVar: ./cfg/orchm_shared.var
remote_plugin_path: /usr/plugin
pnf_remote_plugin_path: /mnt/flash/data/onebox/zabbix/plugin
log_level: DEBUG

#### oba
oba_port: 5556


#### DB
db_name: orch_v1
db_user: nfv
db_passwd: jNIpnXjTflaNfzV1ZqPc1OCSHF7mw3P7/N9YYpP0eMy+tjpvkmDvmYvATwXyse90
db_addr: 127.0.0.1
db_port: 5432
db_conn_num: 2


#### ZABBIX
zbm_ip: 127.0.0.1
zbm_port: 8080
zbm_conn_chk_period : 600
zbm_reconn_period : 2
zbm_url: 
  auth : /AuthService/authencate
  chk : /ItemService/addItem

zb_id: Admin
zb_passwd: 2NIHNVG81AkOA8W6ZLSL99gDHgde5JSVJY6GH2csk2re8dGcmTVTfb4k6pwYUVjm
zb_ip: 211.47.31.156
zb_port: 10051
zb_sender: /usr/bin/zabbix_sender
zb_item_state_key: item.inact
zb_item_state_period: 30
zb_chk_period: 30
zb_jsonurl: http://211.47.31.156/zabbix/api_jsonrpc.php
zb_graphurl: http://211.47.31.156/zabbix/chart.php

zb_perfhist_period: 10
zb_perfhist_expire: 60
zb_perf_stat_period: 600

zb_db_name: zabbix
zb_db_user: zabbix
zb_db_passwd: jNIpnXjTflaNfzV1ZqPc1OCSHF7mw3P7/N9YYpP0eMy+tjpvkmDvmYvATwXyse90
zb_db_addr: 211.47.31.156
zb_db_port: 5432
zb_db_conn_num: 2

zba_cfg_dir: /etc/zabbix/zabbix_agentd.conf.d/
pnf_zba_cfg_dir: /mnt/flash/data/onebox/zabbix/conf/zabbix_agentd.conf.d/
zba_port: 10050

#### FaultM
fault_ack_chk: 60

## sms
mysql_name: nfv_sms_db
mysql_user: nfv
mysql_passwd: EsPzkfux+TidnkT7nYzS+4BMgxMJeXKIXFbZZGxVm5OOhlC5U82e3aJORC37bnu4
mysql_addr: 127.0.0.1
mysql_port: 3306
sms_id: test1onebox
sms_callback: 0428708729
sms_report_chk: 300

#### monM
basic_backup_dir: ./backup

#### E2E
e2e_url: https://211.47.31.155/oneboxmgr/e2e


## https 인증키 - 서버 인증키
certfile: ./keys/orchm.crt
keyfile: ./keys/orchm.key

## https 인증키 - 클라이언트 인증키 - 상호 인증을 위해서 필요



## zabbix Status Check
zb_chk_protocal: https
zb_chk_host: localhost


## aes
orchm_salt : 6F6E65626F783132333440
orchm_code : 646964636A7335636D644B5421

## snmp template
snmp_template_name: insoft - fortinet_snmpv2
snmp_template_name_alias: insoft - alias_snmpv2
smmp_template_seq: 116

## icmp template
icmp_template_name: insoft - icmp
icmp_template_seq: 114

## Telegram - lsh, Test 용
telegram_apikey : 442832290:AAEscCgXM_XfH7Yw3Xx0h4-_QlNlYKmESkQ
